/* ヘッダー */

.header {
  height: 120px;
  background-color: #007032;
  margin-bottom: 48px;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo {
  width: 200px;
}

/* 本文　*/

.main {
  height: calc(100vh - 120px - 40px);
}

.contents{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 1rem 2rem;
  color: #fff;
  background: #094;
  -webkit-box-shadow: 5px 5px 0 #007032;
  box-shadow: 5px 5px 0 #007032;
  width: 200px;
  text-align: center;
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.seat-text {
  min-width: 170px;
  margin-bottom: 10px;
}

.next {
  display: flex;
  justify-content: center;
}

.item_wrapper{
  display: flex;
  justify-content: space-around;
}

.guest{
  height: 50px;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  width: 50px;
  margin: 15px;
}




/* フッター */

.footer {
  height: 40px ;
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}